{#
/**
 * @file
 * Default theme implementation to display a single page.
 *
 * The doctype, html, head and body tags are not in this template. Instead they
 * can be found in the html.html.twig template in this directory.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 *
 * Page content (in order of occurrence in the default page.html.twig):
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title: The page title, for use in the actual content.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - messages: Status and error messages. Should be displayed prominently.
 * - tabs: Tabs linking to any sub-pages beneath the current page (e.g., the
 *   view and edit tabs when displaying a node).
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 * Regions:
 * - page.header: Items for the header region.
 * - page.navigation: Items for the navigation region.
 * - page.navigation_collapsible: Items for the navigation (collapsible) region.
 * - page.highlighted: Items for the highlighted content region.
 * - page.help: Dynamic help text, mostly for admin pages.
 * - page.content: The main content of the current page.
 * - page.sidebar_first: Items for the first sidebar.
 * - page.sidebar_second: Items for the second sidebar.
 * - page.footer: Items for the footer region.
 *
 * @ingroup templates
 *
 * @see template_preprocess_page()
 * @see html.html.twig
 */
#}
{% set container = theme.settings.fluid_container ? 'container-fluid' : 'container' %}
{# Navbar #}
{% if page.navigation or page.navigation_collapsible %}
  {% block navbar %}
    {%
      set navbar_classes = [
        'navbar',
        theme.settings.navbar_inverse ? 'navbar-inverse' : 'navbar-default',
        theme.settings.navbar_position ? 'navbar-' ~ theme.settings.navbar_position|clean_class : container,
      ]
    %}
    <div class="top-nav-bar">
      <div class="left-col black-icons">
        <a target="_blank"href="https://www.instagram.com/tedxwvu/"><i class="fa fa-instagram fa-2x" aria-hidden="true"></i></a>
        <a target="_blank"href="https://www.facebook.com/TEDxWVU/"><i class="fa fa-facebook-square fa-2x" aria-hidden="true"></i></a>
        <a target="_blank"href="https://twitter.com/tedxwvu"><i class="fa fa-twitter-square fa-2x" aria-hidden="true"></i></a>
        <a target="_blank" href="https://www.linkedin.com/company/25046736/"><i class="fa fa-linkedin-square fa-2x" aria-hidden="true"></i></a>
      </div>
      <div class="right-col">
        <a href="/Apply">Register as a Speaker</a>
      </div>

    </div>
    <div class="header-image">
    <header{{ navbar_attributes.addClass(navbar_classes) }} id="navbar" role="banner">
      {% if not navbar_attributes.hasClass(container) %}
        <div class="{{ container }}">
      {% endif %}
      <div class="navbar-header">
        {{ page.navigation }}
        {# .btn-navbar is used as the toggle for collapsed navbar content #}
        {% if page.navigation_collapsible %}
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
            <span class="sr-only">{{ 'Toggle navigation'|t }}</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        {% endif %}
      </div>

      {# Navigation (collapsible) #}
      {% if page.navigation_collapsible %}
        <div id="navbar-collapse" class="navbar-collapse collapse">
          {{ page.navigation_collapsible }}
        </div>
      {% endif %}
      {% if not navbar_attributes.hasClass(container) %}
        </div>
      {% endif %}
    </header>
      <div id="carouselExampleIndicators" class="header-carousel carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
          <div class="item active">
            <img class="d-block img-fluid" src="/themes/tedxwvu/images/TedX-22.jpg" alt="First slide">
          </div>
          <div class="item">
            <img class="d-block img-fluid" src="/themes/tedxwvu/images/TedX-23.jpg" alt="Second slide">
          </div>
          <div class="item">
            <img class="d-block img-fluid" src="/themes/tedxwvu/images/TedX-24.jpg" alt="Third slide">
          </div>
        </div>
        <a class="left carousel-control" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
      </div>
  {% endblock %}
{% endif %}
<div class="theme-background">
    <div class="{{ container }}">
      <div class="row theme-row">
        <div class="col-md-6">
          <img class="img-responsive theme-image" src="/themes/tedxwvu/images/State_Graphic_1.png">
        </div>
        <div class="col-md-6">
          <h2>Leading with Hope in a Changing World</h2>
          <p class="theme-text">The American dream has always been global. This idea of the American dream has enticed millions of people from all over the world to travel to America in search of prosperity and opportunity. But in this ever-changing landscape, many are questioning if the American dream even exists. We believe it does, it just means we need to rethink our homes, suburbs and communities.  In this series of Tedx talks, the American dream isn't lost, it's just being redefined.</p>
        </div>
      </div>
    </div>
</div>

<div class="about-us-background">
    <div class="{{ container }}">
      <div class="row about-us-row">
        <div class="col-md-6">
          <img class="img-responsive img-thumbnail about-us-circle-image" src="/themes/tedxwvu/images/TedX-25.jpg">
          <br>
            <img class="img-responsive img-thumbnail about-us-circle-image" src="/themes/tedxwvu/images/TedX-6.jpg">
        </div>
        <div class="col-md-6">
          <div class="about-us-header">
            <h1>About Us</h1>
          </div>
          <div class="about-us-sub-header">
            <h2>TEDxWVU</h2>
          </div>
          <p class="about-us-text">In the spirit of ideas worth spreading, TED has created a program called TEDx. TEDx is a program of local, self-organized events that bring people together to share a TED-like experience. Our event is called TEDxWVU, where x = independently organized TED event. At our TEDxWVU event, TEDTalks video and live speakers will combine to spark deep discussion and connection in a small group. The TED Conference provides general guidance for the TEDx Program , but individual TEDx events, including ours, are self-organized.<br><br> Since TEDxWVU 2018 will be the first TEDx event held at West Virginia University, the audience has a set limit of 100 attendees. However, as TEDxWVU continues to thrive, our audience size will increase. Planning and preparation for this inaugural event started in May 2017. We hope that TEDxWVU will inspire attendees to create and spread positivity throughout their lives and their communities.<br><br> This event will take place on Friday, March 2, 2018 at the Media Innovation Center on the 4th floor of WVU’s Evansdale Crossing building. The Media Innovation Center was the first choice in hosting this event because the space houses the technology to support creative and innovative events.</p>
        </div>
      </div>
    </div>
</div>

<div class="venue-background">
    <div class="{{ container }}">
      <div class="row venue-row">
        <div class="venue-overlay">
          <div class="venue-text">
            <h1>Venue</h1>
            <h2>Media Innovation Center</h2>
            <h2>WVU Evansdale Crossing</h2>
          </div>
        </div>
      </div>
    </div>
</div>
<div class="location-map">
  <iframe width="100%" height="100%" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3072.058715510181!2d-79.97546068469461!3d39.648393109931455!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88357b98437a1399%3A0x1bef21366459158d!2sEvansdale+Crossing!5e0!3m2!1sen!2sus!4v1507481078753"></iframe>
</div>

<div class="footer-background">
  <div class="{{ container }}">
    <div class="row footer-row">
      <div class="col-md-4">
        <div class="row footer-logo">
          <div class="col-md-12">
              <img src="/themes/tedxwvu/images/TEDxWVU5.png" height="90" />
          </div>
        </div>
        <div class="row footer-social-media-icons">
          <div class="col-md-12 social-icon-row">
            <a class="social-icon-row" target="_blank"href="https://www.facebook.com/TEDxWVU/"><i class="fa fa-facebook-square fa-2x social-icons" aria-hidden="true"></i></a>
            <a target="_blank"href="https://www.linkedin.com/company/25046736/"><i class="fa fa-linkedin-square fa-2x social-icons" aria-hidden="true"></i></a>
            <i class="fa fa-envelope fa-2x social-icons" aria-hidden="true"></i>
          </div>
        </div>
      </div>
      <div class="col-md-4 instagram-col">
      <!-- LightWidget WIDGET -->
      <script src="//lightwidget.com/widgets/lightwidget.js"></script><iframe src="//lightwidget.com/widgets/ac949aa314675b8495eb5f2c55ba9b1a.html" scrolling="no" allowtransparency="true" class="lightwidget-widget" style="width: 100%; border: 0; overflow: hidden;"></iframe>


      </div>
      <div class="col-md-4 twitter-col">
        <a class="twitter-timeline" data-chrome="nofooter transparent noheader transparent" data-height="358" data-dnt="true" data-theme="dark" data-link-color="#E81C4F" href="https://twitter.com/tedxwvu">Tweets by TEDxWVU</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
      </div>
    </div>
  </div>
</div>
<div class="bottom-footer">
  <div class="{{ container }}">
    <div class="row">
      <div class="col-md-12">
        This independent TEDx event is operated under license from TED.
      </div>
    </div>
    <div class="row">
      {% if logged_in %}
        <div class="col-md-offset-4 col-md-2">
          <a href="/user/">My Account</a>
        </div>
        <div class="col-md-2">
          <a href="/user/logout/">Logout</a>
        </div>
      {% else %}
        <div class="col-md-12">
          <a href="/user/login/">Login</a>
        </div>
      {% endif %}
    </div>
  </div>
</div>
